CompileFlags:
  Add: [
      -std=c++23,
      -I./include,
      # ── enabled warnings ─────────────────────────────────────────────
      -Wall,
      -Wextra,
      -Wpedantic,
      -Weverything,
      -Wshadow,
      -Wconversion,
      -Wsign-conversion,
      -Wundef,
      -Wmissing-include-dirs,
      -Wfloat-conversion,
      -Wformat=2,
      -Wunreachable-code,
      -Wdouble-promotion,
      # ── disabled compiler notes ──────────────────────────────────────
      -Wno-unused-parameter,
      -Wno-return-type,
      -Wno-c++98-compat,
      -Wno-c++98-compat-pedantic,
      -Wno-newline-eof,
      -Wno-sign-conversion,
      -Wno-sign-compare,
      -Wno-implicit-int-conversion,
      -Wno-shorten-64-to-32,
      -Wno-missing-prototypes,
      -Wno-missing-variable-declarations,
      -Wno-redundant-parens,
      -Wno-extra-semi-stmt,
      -Wno-unused-macros,
      -Wno-reserved-identifier,
      -Wno-padded,
    ]
Diagnostics:
  UnusedIncludes: None # turn off "header not used directly"
  ClangTidy:
    FastCheckFilter: "None"
    Remove:
      [
        modernize-use-trailing-return-type,
        modernize-use-designated-initializers,
        readability-identifier-length,
        modernize-use-equals-default,
        hicpp-use-equals-default,
        performance-unnecessary-value-param,
        readability-make-member-function-static,
        misc-const-correctness,
        readability-convert-member-functions-to-static,
        performance-unnecessary-copy-initialization,
        misc-unused-parameters,
        readability-redundant-declaration,
        misc-redundant-expression,
        readability-redundant-smartptr-get,
        misc-non-private-member-variables-in-classes,
        bugprone-easily-swappable-parameters,
        readability-use-std-min-max,
        readability-math-missing-parentheses,
        bugprone-implicit-widening-of-multiplication-result,
      ]
